@charset "utf-8";

/* 共通部分 */
body {
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.header, .skills {
  background-color: #fff;
}

.inner {
  margin: 0 auto;
  width: 1100px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-size: 40px;
  letter-spacing: 10px;
  text-align: center;
}

/* header部分 */
header {
  padding: 15px 0;
}

.fa-archway {
  color: #777;
}

.btn {
  color: #fff;
  font-size: 12px;
  background-color: #6ba7eb;
  padding: 12px 14px;
  display: block;
}

.btn:hover {
  color: #333;
  transition: 0.3s;
}

/* keyvisual部分 */
.keyvisual {
  padding: 400px 0;
  background: url(../img/keyvisual/keyvisual.jpg) no-repeat center/cover;
}

.site-content{
  text-align: center;
}

.main-title {
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  margin-bottom: 30px;
}

.sub-title {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
}

/* work部分 */
.work {
  background-color: #e3f2fd;
  text-align: center;
  padding-top: 50px;
}

.work img {
  width: 250px;
  flex-basis: 25%;
}

.content {
  padding-top: 20px;
  flex-basis: 60%;
}

.text {
  margin-top: 35px;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  text-align: center;
  word-break: break-all;
}

/*　skills部分　*/
.skills {
  padding: 50px 0 70px 0;
}

.grid-item {
  display: grid;
  gap: 100px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  margin-top: 50px;
}

.skills img {
  opacity: 0.7;
}

.skills img:hover {
  opacity: 1.0;
}

/* plan部分 */
.plan {
  background-color: #d0dfea;
  padding: 50px 0;
}

.table-cell {
  table-layout: fixed;
  width: 100%;
  margin-top: 50px;
}

th, td {
  font-size: 16px;
  line-height: 26px;
  padding: 10px 10px;
  border-left: 2px solid #fff;
  text-align: center;
}

th:first-child {
  border-left: 0;
}

thead th {
  background-color: #6ba7eb;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #e0efff;
}

/* sns部分 */
.sns {
  background-color: #e3f2fd;
  padding: 200px 0;
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fab, .fa {
  color: #8c8c8c;
  width: 185px;
  font-size: 40px;
  padding: 25px 0;
  overflow: hidden;
}

.fab:hover, 
.fa:hover {
  color: #fff;
  transition: 0,5s;
}

/* footer部分 */
footer {
  padding: 20px 0 25px 0;
  background-color: #cfd8ce;
}

p {
  font-size: 10px;
  letter-spacing: 0.5px;
  text-align: right;
}